.sudno-MenuBurger {
    position: relative;
    cursor: pointer;
}

.sudno-MenuBurger:after,
.sudno-MenuBurger:before,
.sudno-MenuBurger > div {
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: 2px solid var(--burger-color);
}

.sudno-MenuBurger:after {
    top: 0;
    left: 0;
}

.sudno-MenuBurger:before {
    bottom: 0;
    left: 0;
}

.sudno-MenuBurger > div {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sudno-MenuBurger-active:after {
    animation: topLineActive 0.4s forwards;
}

.sudno-MenuBurger-disable:after {
    animation: topLineDisable 0.4s forwards;
}

.sudno-MenuBurger-active:before {
    animation: bottomLineActive 0.4s forwards;
}

.sudno-MenuBurger-disable:before {
    animation: bottomLineDisable 0.4s forwards;
}

.sudno-MenuBurger-active > div {
    animation: middleLineActive 0.4s forwards;
}

.sudno-MenuBurger-disable > div {
    animation: middleLineDisable 0.4s forwards;
}

/* top line */
@keyframes topLineActive {
    0% {
        top: 0;
        left: 0;
        transform: none;
    }
    50% {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    100% {
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(45deg);
    }
}
@keyframes topLineDisable {
    0% {
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(45deg);
    }
    50% {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    100% {
        top: 0;
        left: 0;
        transform: none;
    }
}

/* bottomLine */
@keyframes bottomLineActive {
    0% {
        bottom: 0;
        left: 0;
        transform: none;
    }
    50% {
        bottom: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    100% {
        bottom: 50%;
        left: 0;
        transform: translateY(50%) rotate(-45deg);
    }
}
@keyframes bottomLineDisable {
    0% {
        bottom: 50%;
        left: 0;
        transform: translateY(-50%) rotate(-45deg);
    }
    50% {
        bottom: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    100% {
        bottom: 0;
        left: 0;
        transform: none;
    }
}

/* middleLine */
@keyframes middleLineActive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes middleLineDisable {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
