.user-button__person {
    cursor: pointer;
}

.user-button__person:hover .user-button__name {
    color: var(--primary-color);

    transition: color 0.2s linear;
}

.user-button__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
